{{ form_start(form)}}

{{form_label(form.userName)}} <br>
{{form_widget(form.userName)}} <br>

{{form_label(form.password)}} <br>
{{form_widget(form.password)}} <br>

<button type='submit' id='register_button'> Zarejestruj Użytkownika </button>
<button type='reset'> Resetuj </button>

{{ form_end(form)}}